@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/***** VARIABLES ******/
:root {
  --violet-clr: hsl(263, 55%, 52%);
  --grayishBlue-clr: hsl(217, 19%, 35%);
  --blackishBlue-clr: hsl(219, 29%, 14%);
  --white-clr: hsl(0, 0%, 100%);
  --lightGray-clr: hsl(0, 0%, 81%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}

/***** CSS RESET *****/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***** MAIN STYLING ******/

body {
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  display: grid;
  place-content: center;
  padding: 1.48rem;
  background-color: var(--LightGrayishBlue);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.testimonials__container {
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
}

.testimonial__card {
  border-radius: 7px;
  padding: 1.55rem 1.97rem 1.9rem;
  background-color: var(--violet-clr);
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  color: var(--white-clr);
  box-shadow: 0px 0px 21px -10px rgba(66, 68, 90, 1);
  transition: all 0.2s ease-in-out;
  cursor: default;
  opacity: 0;
  animation: showEl 0.8s ease-in forwards;
}

.testimonial__card:hover {
  box-shadow: 0px 0px 30px -5px rgba(66, 68, 90, 1);
  transform: translateY(-2%);
}

.testimonial__person {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -0.1rem;
  letter-spacing: 0.01rem;
}

.testimonial__person img {
  max-width: 1.7rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.name {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.testimonial__graduate {
  font-size: 0.68rem;
  opacity: 0.5;
}

.quote__big {
  font-size: 1.197rem;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.quote__small {
  font-size: 0.821rem;
  font-weight: 500;
  line-height: 1.4;
  opacity: 0.7;
}

/* DANIEL */
.daniel {
  position: relative;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 82% 0%;
}

/* JONATHAN */

.jonathan {
  background-color: var(--grayishBlue-clr);
  animation-delay: 0.3s;
}

/* JEANETTE and KIRA */

.jeanette,
.kira {
  background-color: var(--white-clr);
  color: var(--grayishBlue-clr);
}

.jeanette {
  animation-delay: 0.6s;
}

/* PATRICK */

.patrick {
  background-color: var(--blackishBlue-clr);
  color: var(--LightGrayishBlue);
  animation-delay: 0.9s;
}

.patrick img {
  border-color: var(--violet-clr);
}

/* KIRA */

.kira {
  animation-delay: 1.2s;
}

/***** MEDIA QUERIES *****/
@media (min-width: 50em) {
  .testimonials__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-template-areas:
      "daniel daniel jonathan" "jeanette patrick patrick"
      "kira kira kira";
  }
  /* DANIEL */

  .daniel {
    grid-area: daniel;
  }

  /* JONATHAN */

  .jonathan {
    grid-area: jonathan;
  }

  /* JEANETTE */

  .jeanette {
    grid-area: jeanette;
  }

  /* PATRICK */

  .patrick {
    grid-area: patrick;
  }

  /* KIRA */
  .kira {
    grid-area: kira;
  }
}

@media (min-width: 65em) {
  .testimonials__container {
    margin-top: 0;
    max-width: 69.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
  }

  .testimonial__card {
    gap: 1rem;
    padding: 1.4rem 1.97rem 1.5rem;
  }

  .quote__big {
    margin-bottom: 1.35rem;
    letter-spacing: 0.4px;
  }

  /* DANIEL */

  .daniel {
    grid-area: daniel;
  }

  /* JONATHAN */

  .jonathan {
    grid-area: jonathan;
  }

  /* JEANETTE */

  .jeanette {
    grid-area: jeanette;
  }

  /* PATRICK */

  .patrick {
    grid-area: patrick;
  }

  /* KIRA */
  .kira {
    grid-area: kira;
  }
}

/***** ANIMATION ******/

@keyframes showEl {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
